@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;700&display=swap");
:root {
  --primary_color: #2a4470;
  --secondary_color: #70562a;
  --primary_bg_color: #152238;
  --secondary_text_color: #6bbe6b;
}

.navbar {
  background: var(--primary_color);
  padding: 1rem;
}

.navbar .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  place-content: space-between;
  margin: 0;
}

.navbar .logo {
  text-decoration: none;
  font-size: 2rem;
  font-weight: bold;
  color: rgb(255, 255, 255);
}

.navbar .logo span {
  color: var(--secondary_color);
}

.navbar .mobile-menu-open {
  cursor: pointer;
  width: 2rem;
  margin: 0.5rem;
}

.navbar nav.menu-btn {
  display: block;
}

.navbar .mobile-menu-txt {
  font-weight: bold;
  float: left;
  font-size: 1.2rem;
  margin: 0.5rem 0;
  padding: 0;
}

.navbar nav {
  display: none;
  text-align: right;
  background: var(--primary_color);
  position: absolute;
  z-index: 998;
  width: 16%;
  height: 100%;
  top: 0;
  right: 0;
  padding: 1em;
}

.navbar nav .mobile-menu-exit {
  cursor: pointer;
  width: 2rem;
  margin: 0.5rem;
}

.navbar nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.navbar nav li a {
  font-size: 1.2rem;
  font-weight: bold;
  color: rgb(255, 255, 255);
  text-decoration: none;
  display: block;
  padding: 0.5rem 0.2rem;
}

.navbar nav li a:hover {
  font-size: 1.4rem;
}

.navbar .primary-nav .nav-active-page {
  color: var(--secondary_color);
  font-size: 1.4rem;
}

@media only screen and (min-width: 999px) {
  .mobile-menu-open, .mobile-menu-exit, .mobile-menu-txt {
    display: none;
  }
  .navbar .containter {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 350px auto;
        grid-template-columns: 350px auto;
  }
  .navbar nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    background: none;
    position: right;
    height: auto;
    width: auto;
    margin-top: 1rem;
    padding: 0 1rem;
  }
  .navbar nav ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .navbar nav li a {
    padding: 0.5rem 1rem;
  }
}

html {
  font-size: 18px;
}

@media (max-width: 2000px) {
  html {font-size: 16px;}
}

@media (max-width: 1600px) {
  html {font-size: 14px;}
}

@media (max-width: 1200px) {
  html {font-size: 12px;}
}

@media (max-width: 999px) {
  html {font-size: 10px;}
}

body {
  background: var(--primary_bg_color);
  margin: 0;
  font-family: 'Poppins';
}

.home-page {
  overflow: hidden;
}

.home-page-intro {
  top: 2%;
  width: 100%;
  position: absolute;
  display: flex;
  z-index: 900;
  justify-content: center;
  align-items: center;
}

.home-page-intro .billboard {
  scale: 0.75;
}

#trail-canvas {
  position: absolute;
  top: 0;
  left: 0;
}

.about-page {
  overflow: hidden;
}

.about-page .hero {
  display: flex;
  width: 100%;
  z-index: 102;
}

.about-page .hero h1 {
  position: absolute;
  top: 10%;
  left: 10%;
  font-size: 5rem;
  margin-bottom: 0.2rem;
  color: white;
  text-shadow: 15px 15px var(--secondary_text_color);
  letter-spacing: 0.05rem;
}

.about-page .hero .desc1 {
  position: absolute;
  top: calc(22% + 5rem);
  left: 5%;
  width: 40%;
  color: white;
  font-size: 1.3rem;
  text-align: left;
  padding-bottom: 2rem;
}

.about-page .hero .desc2 {
  position: absolute;
  top: 12%;
  left: 55%;
  width: 40%;
  color: white;
  font-size: 1.3rem;
  text-align: left;
  padding-bottom: 2rem;
}

.skills-page {
  overflow: hidden;
  background-color: var(--primary_bg_color);
}

.skills-page .hero {
  display: flex;
  width: 100%;
}

.skills-page .hero h1 {
  position: absolute;
  top: 10%;
  left: 10%;
  font-size: 5rem;
  margin-bottom: 0.2rem;
  color: white;
  text-shadow: 15px 15px var(--secondary_text_color);
  letter-spacing: 0.05rem;
}

.skills-page .hero .desc {
  position: absolute;
  top: calc(20% + 5rem);
  left: 5%;
  width: 50%;
  color: white;
  font-size: 1.3rem;
  text-align: left;
  padding-bottom: 2rem;
}

.skills-card {
  position: absolute;
  top: 42%;
  left: 10%;
  width: 45%;
  display: grid;
  grid-template-columns: repeat(3, 33%);
  color: white;
}

.skills-card ul {
  list-style-type: none;
  padding: 0 50px 0 0;
}

.skills-card ul li {
  position: relative;
  margin-bottom: 1rem;
}

.skills-card .skill-logo {
  margin-right: 1rem;
  height: 2.8rem;
}

.skills-card h3 {
  font-size: 2rem;
}

.skills-card p {
  position: absolute;
  top: -10px;
  left: 75px;
  font-size: 1.4rem;
}

.skills-page .skills-sphere {
  position: absolute;
  top: 50%;
  right: 5%;
}

.skills-page .tagcloud {
  font-weight: 600;
  font-family: 'Poppins', cursive;
  font-size: 0.8rem;
  letter-spacing: 1px;
  color:var(--secondary_text_color)
}

@media only screen and (min-width: 999px) {
  .skills-page .skills-sphere{
    position: absolute;
    top: 25%;
    right: 5%;
  }

  .skills-page .tagcloud {
    font-size: 1.2rem;
  }

  .skills-page .tagcloud--item:hover {
    font-size: 1.3rem;
    font-weight: 900;
    color: #FFC300 ;
    cursor: default;
  }
}

.projects-page {
  background-color: var(--primary_bg_color);
}

.projects-page .projects-container {
  padding: 5% 10%;
}

.projects-page .projects-container h1 {
  font-size: 3rem;
  margin-bottom: 0.2rem;
  color: white;
  text-shadow: 15px 15px var(--secondary_text_color);
  letter-spacing: 0.05rem;
}

.projects-page .projects-container hr {
  color: white;
  margin: 50px 25%;
}

.projects-page .projects-container .project-R {
  display: grid;
  grid-template-columns: repeat(2, 50%);
  width: 100%;
}

.projects-page .projects-container .project-R img {
  width: 100%;
  z-index: 100;
  opacity: 0.9;
  filter: invert(5%) sepia(21%) saturate(240%) hue-rotate(188deg) brightness(97%) contrast(96%);
}

.projects-page .projects-container .project-R img:hover {
  opacity: 1;
  filter: none;
}

.projects-page .projects-container .project-R .desc {
  text-align: right;
  color: var(--secondary_text_color);
  z-index: 101;
}

.projects-page .projects-container .project-R .desc h2 {
  color: white;
  font-size: 2rem;
}

.projects-page .projects-container .project-R .desc h5 {
  font-size: 1rem;
}

.projects-page .projects-container .project-R .desc .para {
  text-align: left;
  margin: 20px 60px 20px -60px;
  padding: 20px 15px;
  color: white;
  background-color: #1c2d4e;
  font-size: 1.2rem;
}

.projects-page .projects-container .project-L {
  display: grid;
  grid-template-columns: repeat(2, 50%);
  width: 100%;
}

.projects-page .projects-container .project-L img {
  width: 100%;
  z-index: 100;
  opacity: 0.9;
  filter: invert(5%) sepia(21%) saturate(240%) hue-rotate(188deg) brightness(97%) contrast(96%);
}

.projects-page .projects-container .project-L img:hover {
  opacity: 1;
  filter: none;
}

.projects-page .projects-container .project-L .desc {
  text-align: left;
  color: var(--secondary_text_color);
  z-index: 101;
}

.projects-page .projects-container .project-L .desc h2 {
  color: white;
  font-size: 2rem;
}

.projects-page .projects-container .project-L .desc h5 {
  font-size: 1rem;
}

.projects-page .projects-container .project-L .desc .para {
  margin: 20px -60px 20px 60px;
  padding: 20px 15px;
  color: white;
  background-color: #1c2d4e;
  font-size: 1.2rem;
}

.projects-page .projects-container .project-L .game-images {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(2, 50%);
}

.projects-page .projects-container .project-L .game-images img {
  width: 100%;
  height: 100%;
  cursor: pointer;
}

.resume-container {
  width: 100%;
  height: calc(100vh - 90px);
}

.contact-page {
  overflow: hidden;
  background-color: var(--primary_bg_color);
}

.contact-page .page-container {
  display: grid;
  grid-template-columns: repeat(2, 50%);
  position: relative;
}

.contact-page .page-container .contact-hero {
  display: inline-block;
  justify-content: center;
  align-items: center;
}

.contact-page .page-container .contact-hero .contact-img {
  display: flex;
  width: 100%;
  justify-content: center;
  margin-top: 20%;
  margin-bottom: 5%;
}

.contact-page .page-container .contact-hero .contact-img img {
  width: 60%;
}

.contact-page .page-container .contact-hero .contacts {
  display: flex;
  justify-content: center;
}

.contact-page .page-container .contact-hero .contacts .fa {
  padding: 0.5rem;
  font-size: 2rem;
  width: 1rem;
  text-align: center;
  text-decoration: none;
  margin: 0 10px;
  border-radius: 50%;
}

.contact-page .page-container .contact-hero .contacts .fa-google {
  background: #dd4b39;
  color: white;
}

.contact-page .page-container .contact-hero .contacts .fa-github {
  background: #7239dd;
  color: white;
}

.contact-page .page-container .contact-hero .contacts .fa-linkedin {
  background: #007bb5;
  color: white;
}

.contact-page .page-container .contact-form {
  display: grid;
  grid-template-columns: 20% 80%;
  gap: 30px;
  margin-top: 25%;
  color: white;
  font-size: 2rem;
}

.contact-page .page-container .contact-form label {
  text-align: right;
}

.contact-page .page-container .contact-form .name-field{
  font-size: 0.7rem;
  width: 60%;
}

.contact-page .page-container .contact-form .email-field{
  font-size: 0.7em;
  width: 60%;
}

.contact-page .page-container .contact-form .msg-field{
  grid-row: span 10;
  font-size: 0.7rem;
  width: 80%;
}

.contact-page .page-container .contact-form .submit-btn{
  grid-column: 2;
  width: fit-content;
  text-align: center;
  font-size: 1.0rem;
  font-weight: bold;
  padding: 0.5rem 2rem;
  border: none;
  border-radius: 1rem;
  background-color: var(--secondary_text_color);
  cursor: pointer;
}

#loading-screen {
	position: absolute;
	z-index: 2;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: #000000;
	opacity: 1;
 	transition: 1s opacity;
}

#loading-screen.fade-out {
    opacity: 0;
}

#loader {
    display: block;
    position: relative;
    left: 50%;
    top: 50%;
    width: 150px;
    height: 150px;
    margin: -75px 0 0 -75px;
    border-radius: 50%;
    border: 4px solid transparent;
    border-top-color: #6c8ec8;
    -webkit-animation: spin 2s linear infinite;
    animation: spin 2s linear infinite;
}

#loader:before {
    content: "";
    position: absolute;
    top: 5px;
    left: 5px;
    right: 5px;
    bottom: 5px;
    border-radius: 50%;
    border: 4px solid transparent;
    border-top-color: #4771ba;
    -webkit-animation: spin 3s linear infinite;
    animation: spin 3s linear infinite;
}

#loader:after {
    content: "";
    position: absolute;
    top: 15px;
    left: 15px;
    right: 15px;
    bottom: 15px;
    border-radius: 50%;
    border: 4px solid transparent;
    border-top-color: #385b95;
    -webkit-animation: spin 1.5s linear infinite;
    animation: spin 1.5s linear infinite;
}

@-webkit-keyframes spin {
    0%   {
        -webkit-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}
@keyframes spin {
    0%   {
        -webkit-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}