.resume-page {
    overflow: hidden;
  }
  
  .resume-page .resume-container {
    width: 100%;
    height: calc(100vh - 80px);
  }

  @media (max-width: 1001px) {
    
    .resume-page .resume-container {
      height: 100vh;
    }

  }